*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
}

.Intro{
    background-color: aliceblue;
}

.HeroPart{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    
}

.ProfImage{
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

.SkillsPart {

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    background-color: aliceblue;
    gap: 20px;
}

.HardSkill, .SoftSkill {
    flex: 1; /* Ensure both skill boxes take equal width */
    padding: 20px;
    border: 2px solid black; /* Add border to each skill box */
    background-color: white; /* Optional: Set background color */
}

.FeaturedProjects{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}



.Contact {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}


header {
    box-sizing: border-box;
    width: 100%;
    background-color:#f1f1f1 ;
    padding: 20px 10px;
    display:flex;
    flex-direction: row;
    gap:12px;
    justify-content: end;

}

footer {
    display:flex;
    border:solid black 2px;
    flex-direction: row;
    gap:12px;
    justify-content: center;

}